force-app/main/default/flows/Colloboration_Support_Team.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <dynamicChoiceSets>
        <name>Queue</name>
        <dataType>String</dataType>
        <displayField>Queue__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Support_Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SupportTeam</elementReference>
            </value>
        </filters>
        <object>Collaborate_Support_Team__mdt</object>
        <valueField>Label</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>QueueSelection</name>
        <dataType>String</dataType>
        <displayField>Queue__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Support_Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Support_Team</elementReference>
            </value>
        </filters>
        <object>Collaborate_Support_Team__mdt</object>
        <outputAssignments>
            <assignToReference>variableQueue</assignToReference>
            <field>Queue__c</field>
        </outputAssignments>
        <valueField>Label</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Reason</name>
        <dataType>String</dataType>
        <displayField>Reason__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Support_Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Support_Team</elementReference>
            </value>
        </filters>
        <object>Collaborate_Support_Team__mdt</object>
        <outputAssignments>
            <assignToReference>variableReason</assignToReference>
            <field>Reason__c</field>
        </outputAssignments>
        <valueField>Label</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SupportTeam</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Support_Team__c</picklistField>
        <picklistObject>Collaborate_Support_Team__mdt</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>rert</name>
        <dataType>String</dataType>
        <expression>&quot;http://google.com?=&quot;+{!CaseNumber}</expression>
    </formulas>
    <interviewLabel>Colloboration Support Team {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Colloboration Support Team</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>CaseRec</name>
        <label>CaseRec</label>
        <locationX>334</locationX>
        <locationY>19</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Support_Team_Selection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AssetId</assignToReference>
            <field>AssetId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>caseId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Chat_CaseCreate</name>
        <label>Chat/CaseCreate</label>
        <locationX>182</locationX>
        <locationY>220</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ChatCaseCreate</name>
            <extensionName>c:Collaborationcase</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>SupportTeam</name>
                <value>
                    <elementReference>Support_Team</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caseRec</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>AccountId</name>
                <value>
                    <elementReference>AccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>AssetId</name>
                <value>
                    <elementReference>AssetId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ContactId</name>
                <value>
                    <elementReference>ContactId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caseNum</name>
                <value>
                    <elementReference>CaseNumber</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Support_Team_Selection</name>
        <label>Support Team Selection</label>
        <locationX>443</locationX>
        <locationY>203</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Chat_CaseCreate</targetReference>
        </connector>
        <fields>
            <name>casenumberurl</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;http://google.com?={!CaseNumber}&quot; target=&quot;_blank&quot;&gt;http://google.com?={!CaseNumber}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Support_Team</name>
            <choiceReferences>SupportTeam</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Support Team</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>CaseRec</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>parentCaseRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>variableQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>variableReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varQueue</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
